body {
  font-family: sans-serif;
  background-color: rgb(91, 104, 36);
}
h1 {
  color: rgb(238, 216, 20);
  text-align: center;
}
ul {
  list-style: none;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  padding: 0;
  display: block;
}
ul li {
  padding: 5px;
  background: #b2d31f;
  margin: 5px;
  display: inline-block;
}
a {
  text-decoration: none;
}
ul li img {
  display: block;
  width: 250px;
  height: 200px;
}
